
html, body,#root { 
  height: 100%;
  width: 100%;
 }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--app-content-background-color);
}

div {
  width: 100%;
}

section {
  width: var(--app-width);
  margin: 50px 0px;
}

:root {
  /* Colors */
  --app-black-color: black;
  --app-primary-color: blue;
  --app-secondary-color: red;
  --app-accent-color: green;

  --app-black-color-hover: #3e3e3e;
  --app-primary-color-hover: #00009c;
  --app-secondary-color-hover: #a00000;
  --app-accent-color-hover: #013a01;

  --app-font-white: #e3e3e3;
  --app-font-grey: #d0d0d0;
  --app-font-black: black;


  /* Sizes */
  --app-navbar-height: 60px;
  --app-width: 80%;
}